:root {
  --header-background: rgba(255, 255, 255, 0);
  --light: #ffffff;
  --dark: #373f51;
  --danger: #f84aa7;
  --success: #779be7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

/* Nav styles  */

header {
  background: var(--header-background);
  text-align: center;
  position: fixed;
  transition: top 0.2s ease-in-out;
  width: 100%;
  min-height: 90px;
  z-index: 999;
  width: 100%;
  margin-bottom: 0;
  transition: top 0.2s ease-in-out;
  top: 0;
  border-radius: 0.35em;
}

.logo-section {
  display: flex;
  justify-content: center;
}

.logo {
  width: 75%;
  margin: auto 0;
}

.fa-microphone-alt {
  font-size: 1.75rem;
  padding: 1em 0.5em;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label::before,
.nav-toggle-label::after {
  content: "";
  position: absolute;
}

.nav-toggle-label::before {
  bottom: 30px;
}

.nav-toggle-label::after {
  top: 30px;
}

span:hover {
  color: lightgrey;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: inherit;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* transition above is for unclicking the nav-toggle */

nav a:hover {
  color: rgb(110, 111, 112);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* transition above is 250ms transition with 250ms delay */

@media screen and (min-width: 1100px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  nav {
    all: unset;
    grid-column: 4 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
    margin-right: 1em;
  }

  nav a::before {
    content: "";
    display: block;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* Navbar scroll effect */

.scrolled {
  background: var(--scrolled-background);
}

.nav-up {
  top: -40px;
}

/* Hero image section */

.hero {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  display: grid;
  place-items: center;
  text-align: center;
}

.banner-text {
  width: 100%;
  margin: auto;
}

.hero h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2em;
}

.hero p {
  font-size: 2rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
}

.latest-episode {
  min-height: 65vh;
  width: 100%;
  padding: 2rem;
}

.latest-episode h2 {
  font-size: 2rem;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.latest-episode p {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}

.latest-episode__banner {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  margin: 0;
}

.latest-episode__banner h2 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.episodes {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.single__episode {
  width: 50%;
  padding: 2em;
}

.episode-1-image {
  min-height: 20rem;
  background-image: url(images/cyndi-portrait.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.episode-2-image {
  min-height: 20rem;
  background-image: url(images/scream-kid-mic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Episode Archives Page Template */

.hero__episodes {
  min-height: 60vh;
  background-image: url(images/scream-kid-mic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
}

.hero__episodes h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2em;
}

/* Single Episode Page Template */

.hero__ep1 {
  min-height: 60vh;
  background-image: url(images/cyndi-portrait.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
}

.hero__ep1 h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2em;
}

.ep-description {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ep-description__copy {
  width: 50%;
  font-size: 1.5rem;
  margin-top: 0;
  padding: 0 0.5em;
}

.ep-image__cyndi {
  /* background-image: url(images/halloween.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  min-height: 20rem;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.responsive-image {
  width: 100%;
  height: auto;
}

/* About Page */

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

.about p {
  width: 70%;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: var(--dark);
  color: var(--light);
  border-radius: 3px;
  padding: 1em;
}
