:root {
  --transparent-background: rgba(255, 255, 255, 0);
  --light: #ffffff;
  --dark: #373f51;
  --danger: #f84aa7;
  --success: #779be7;
  --visited: #f24236;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.dark-background a {
  text-decoration: none;
  color: var(--success);
}

.dark-background a:visited {
  text-decoration: none;
  color: var(--visited);
}

/* Nav styles  */

.header-container {
  display: flex;
  justify-content: center;
}

header {
  background: var(--transparent-background);
  text-align: center;
  position: fixed;
  transition: top 0.2s ease-in-out;
  width: 100%;
  max-width: 1850px;
  min-height: 90px;
  z-index: 999;
  width: 100%;
  margin-bottom: 0;
  transition: top 0.2s ease-in-out;
  top: 0;
  border-radius: 0.35em;
}

.logo-section {
  display: flex;
  justify-content: center;
}

.logo {
  display: none;
  width: 75%;
  margin: auto 0;
}

.fa-microphone-alt {
  color: var(--transparent-background);
  font-size: 1.75rem;
  padding: 1em 0.5em;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label::before,
.nav-toggle-label::after {
  content: "";
  position: absolute;
}

.nav-toggle-label::before {
  bottom: 30px;
}

.nav-toggle-label::after {
  top: 30px;
}

span:hover {
  color: lightgrey;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: inherit;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* transition above is for unclicking the nav-toggle */

nav a:hover {
  color: rgb(110, 111, 112);
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* transition above is 250ms transition with 250ms delay */

/* media queries for responsive nav */

@media screen and (min-width: 1100px) {
  .nav-toggle-label {
    display: none;
  }

  .logo {
    display: flex;
    width: 75%;
    margin: auto 0 auto 0.75em;
  }

  .fa-microphone-alt {
    color: black;
    font-size: 1.75rem;
    padding: 1em 0.5em;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  nav {
    all: unset;
    grid-column: 4 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
    margin-right: 1em;
  }

  nav a::before {
    content: "";
    display: block;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* Navbar scroll effect */

.scrolled {
  background: var(--scrolled-background);
}

.nav-up {
  top: -40px;
}

/* Hero image section */

.hero {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 2px;
  filter: drop-shadow(0 1px 1px gray);
}

.banner-text {
  width: 100%;
  margin: auto;
}

.hero h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2em;
}

.hero p {
  font-size: 2rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
}

.latest-episode {
  min-height: 65vh;
  width: 100%;
  padding: 2rem;
}

.latest-episode h2 {
  font-size: 2rem;
  letter-spacing: 0.2em;
  font-weight: 400;
}

.latest-episode p {
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}

.latest-episode__banner {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  margin: 0;
}

.latest-episode__banner h2 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.episodes {
  min-height: 50vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.single__episode {
  width: 50%;
  padding: 2em;
  margin: 0 1rem;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: 0 2px 2px lightgray;
  background-color: var(--dark);
  color: var(--light);
  filter: drop-shadow(0 1px 1px gray);
}

.single__episode a {
  color: var(--success);
  text-decoration: none;
}

.single__episode a:visited {
  color: var(--visited);
  text-decoration: none;
}

.single__episode h2 a {
  text-decoration: none;
  color: inherit;
}

.single__episode h2 a:visited {
  text-decoration: none;
  color: inherit;
}
.episode-1-image {
  min-height: 20rem;
  background-image: url(images/cyndi-portrait.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}
.episode-2-image {
  min-height: 20rem;
  background-image: url(images/scream-kid-mic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
}

/* Media Queries for responsive episodes */

@media screen and (max-width: 1000px) {
  .episodes {
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .single__episode {
    width: 95%;
    padding: 2em;
    margin: 0.5rem auto;
    filter: drop-shadow(0 1px 1px gray);
  }

  .latest-episode__banner h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

/* Episode Archives Page Template */

.hero__episodes {
  min-height: 60vh;
  background-image: url(images/scream-kid-mic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 4px;
  filter: drop-shadow(0 1px 1px gray);
}

.hero__episodes h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2em;
}

/* Single Episode Page Template */

.hero__ep1 {
  min-height: 50vh;
  background-image: url(images/cyndi-portrait.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
  text-align: center;
  filter: drop-shadow(0 1px 1px gray);
}

.episode-banner-text {
  display: flex;
  justify-content: center;
}

.episode-banner-text h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2em;
}

.ep-description {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ep-description__copy {
  width: 50%;
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 0 1rem;
  padding: 0 0.5em;
  background: var(--dark);
  color: var(--light);
  border-radius: 3px;
  padding: 1em;
  filter: drop-shadow(0 2px 2px gray);
}

iframe {
  filter: drop-shadow(0 2px 2px gray);
}

.ep-description__copy a {
  color: var(--success);
  text-decoration: none;
}

.ep-description__copy a:visited {
  color: var(--visited);
  text-decoration: none;
}

/* Media Queries for responsive episode info */

@media screen and (max-width: 1000px) {
  .ep-description {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .ep-description__copy {
    width: 75%;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1.25rem;
    line-height: 1.25;
    margin-top: 1rem;
    padding: 0 0.5em;
  }

  iframe {
    width: 75%;
  }
}

/* About Page */

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  filter: drop-shadow(0 1px 1px gray);
}

.about p {
  width: 60%;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: var(--dark);
  color: var(--light);
  border-radius: 3px;
  padding: 1em;
}

/* Media Query for responsive about-us text */

@media screen and (max-width: 1000px) {
  .about p {
    width: 85%;
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-weight: 500;
    background: var(--dark);
    color: var(--light);
    border-radius: 3px;
    padding: 1em;
  }
}

/*Media Query for responsive Headers */
@media screen and (max-width: 1000px) {
  .hero h1,
  .hero__ep1 h1,
  .hero__episodes h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1em;
  }

  .hero p {
    font-size: 1.75rem;
    letter-spacing: 0.05em;
    line-height: 1.5;
    width: 60%;
    margin: 0 auto;
  }
}

/* Footer Styles */

footer {
  padding: 0;
  width: 100%;
  background: var(--dark);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  filter: drop-shadow(2px 0 2px gray);
}

.left-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--light);
  padding: 0 20rem 0 0;
}

.right-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--light);
  padding: 0 0 0 10rem;
  flex-wrap: wrap;
}

.bottom-footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: var(--light);
}

.left-footer ul {
  font-size: 1.5rem;
  list-style: none;
  /* margin: 0 5rem 0 0; */
}

.left-footer li {
  margin: 0.75em 0;
  letter-spacing: 0.2em;
}

.bottom-footer p {
  font-size: 1rem;
  letter-spacing: 0.1em;
}

.right-footer p {
  width: 100%;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* Media queries for responsive footer */

@media screen and (max-width: 1000px) {
  footer {
    padding: 1em;
    width: 100%;
    background: var(--dark);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .left-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--light);
    padding: 1em;
    margin: 0 auto;
  }

  .left-footer ul {
    font-size: 1.25rem;
    list-style: none;
    margin: 0 auto;
  }

  .right-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--light);
    padding: 1em;
    margin: 0 auto;
  }

  .bottom-footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: var(--light);
  }

  .right-footer p {
    width: 100%;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-align: center;
  }

  .bottom-footer p {
    font-size: 0.75rem;
    letter-spacing: 0.1em;
  }
}

/* Contact Page Styles NEEDS WORK!!! --------------*/

.contact {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightblue;
  width: 50%;
}

/* .contact form input {
  margin: 1em auto;
  border: 1px solid red;
} */

.contact form textarea {
  border: 1px solid red;
}

.name_field {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.email_field {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.comments_field {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}

.button_area {
  border: 1px solid green;
  display: flex;
  justify-content: center;
}
