:root {
  --background: rgb(26, 195, 237);
  --color-primary-dark: #303a52;
  --color-accent: #9e579d;
  --color-white: snow;
  --navBar-height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  height: 300vh;
}

/* Nav styles  */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  margin-bottom: 0;
}

/* .icon {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.logo-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fa-microphone-alt {
  font-size: 1.75rem;
  padding: 1em;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label::before,
.nav-toggle-label::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label::before,
.nav-toggle-label::after {
  content: "";
  position: absolute;
}

.nav-toggle-label::before {
  bottom: 30px;
}

.nav-toggle-label::after {
  top: 30px;
}

span:hover {
  color: lightgrey;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/* transition above is for unclicking the nav-toggle */

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* transition above is 250ms transition with 250ms delay */

@media screen and (min-width: 1100px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  nav {
    all: unset;
    grid-column: 4 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
    margin-right: 1em;
  }

  nav a::before {
    content: "";
    display: block;
    height: 3px;
    background: black;
    position: absolute;
    bottom: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/* Hero image section */

.hero {
  position: relative;
  height: 90vh;
  width: 100%;
  background-image: url(images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  display: grid;
  place-items: center;
  top: 5rem;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.hero p {
  font-size: 2rem;
}
